.home__bg {
    background-image: url(https://images.unsplash.com/photo-1506869640319-fe1a24fd76dc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:darken;
    overflow-x: hidden;
    background-color: rgb(149, 179, 149);
}
.home{
    background-color: rgb(149, 179, 149);
}
.home-message-icon {
    margin-left: 10px;
    display: inline-block;
}
