.login__bg {
    background-image: url(https://images.unsplash.com/photo-1510751007277-36932aac9ebd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=437&q=80);
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-color: rgb(149, 179, 149);
    background-blend-mode:hard-light;
border-radius: 20px;
}

.ll{
    background-color: rgb(149, 179, 149);
}

.email{
    padding: 10px 20px;
    border: 1px solid grey;
}
.but {
    background-color: green;
    border-color: green;
  }
  .but:hover {
    background-color: darkgreen;
    border-color: darkgreen;
  }
  