.messages-output {
    height: 80vh;
    background-color: rgb(183, 235, 183);
    border: 1px solid lightgray;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.messages-output::-webkit-scrollbar{
    display: none;
}

.message-inner {
    margin-left: 20px;
    margin-bottom: 10px;
    /* padding: 10px; */
    /* min-width: 250px; */
    /* max-width: 90%; */
    text-align: left;
    /* min-height: 0px; */
    padding: 1px 60px;
    font: 400 1em, sans-serif;
    display: inline-block;
    border-radius: 20px;
    background-color: rgba(207, 192, 192, 0.918);

    /* background-color: #d1e7dd; */
}

.incoming-message .message-inner {
    background-color: #ffdab9;
    margin-right: 20px;
}

.incoming-message {
    display: flex;
    justify-content: flex-end;
    /* margin-left: 120px; */
}

.message-timestamp-left {
    font-size: 0.85em;
    font-weight: 300;
    margin-top: 10px;
}

.message-sender {
    margin-bottom: 5px;
    font-weight: bold;
}

.message-date-indicator {
    width: 150px;
    margin: 0 auto;
}

.conversation-info {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    height: 100px;
}

.conversation-profile-pic {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 10px auto;
    margin-bottom: 30px;
    border-radius: 50%;
    margin-left: 10px;
}
.image{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    overflow: hidden;
}

.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
